[project]
	description = just for test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zmes50416
[access "refs/for/refs/*"]
	read = group user/zmes50416
	push = group user/zmes50416
	label-Code-Review = -2..+2 group user/zmes50416
	label-Verified = -1..+1 group user/zmes50416
	rebase = group user/zmes50416
	removeReviewer = group user/zmes50416
	submit = group user/zmes50416
[access "refs/heads/*"]
	read = group user/zmes50416
	create = group user/zmes50416
	push = +force group user/zmes50416
	pushMerge = group user/zmes50416
[access "refs/tags/*"]
	push = +force group user/zmes50416
	pushTag = group user/zmes50416
	pushSignedTag = group user/zmes50416
